{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Subasta</title>

  <!-- Inicia bloque de archivos css -->
  {% block css %}
  <!-- Favicon -->
  <link rel="icon" href="{% static 'subastas_app/images/favicon.png'%} ">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap" rel="stylesheet">

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- CSS -->
  <link href="{% static '/subastas_app/css/style.css'%} " type="text/css" rel="stylesheet" media="screen,projection" />

  {% endblock %}
  <!-- Termino de bloque de estilos css -->
</head>

<body>
  <!-- Inicio de bloque de estructura de barra de navegacion -->
  {% block header %}

  <!-- Barra de navegacion -->
  <nav class="barra-navegacion" role="navigation">
    <div class="nav-wrapper ">
      <a id="logo-container" href="/" class="brand-logo hide-on-small-only"><img
          src="{% static '/subastas_app/images/logo.png'%}"" alt="" class=" logo"></a>

      <ul class="right">
        <li><a href="categorias/">Categorias</a></li>
        <li><a href="registro/" class="">Registro</a></li>
        <li><a href="ofertar/" class="">Ofertar</a></li>
        <!-- Condicional si el usuario inisio sesion le muestra la opcion de perfil, sino le muestra la opcion de login -->
        {% if user.is_authenticated %}
        <li><a href="registro.html" class="">Perfil</a></li>
        <li><a class="waves-effect waves-light btn  red darken-3" href="logout">Log-out</a></li>
        {% else %}
        <li><a class="waves-effect waves-light btn" href="login.html">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% endblock %}


  <!-- Inicio de bloque de contenido -->
  {% block content %}
  <div id="index-banner" class="parallax-container ">

    <div class="section no-pad-bot">
      <div class="row  container">
        <div class="col  m6  left-align" id="banner-letters">
          <h1>Subastas</h1>
          <h5 class="Invitacion">Registrate y se parte de <br> las mejores subastas <br> Online</h3>
        </div>
        <div class="row container ">
          <div class=" col   m6 center-align " id="registro-banner">
            <div class="input-field col s12 ">
              <i class="material-icons prefix">account_circle</i>
              <input id="input-format" type="text" class="validate">
              <label for="icon_prefix">First Name</label>
            </div>
            <div class="input-field col  s12">
              <i class="material-icons prefix">email</i>
              <input id="input-format" type="tel" class="validate">
              <label for="icon_telephone">@email</label>
              <button class="btn waves-effect waves-light" id="boton-registrarse">Registrarse
                <i class="material-icons right">send</i>
              </button>

            </div>
          </div>


        </div>

      </div>
    </div>
    <div class="parallax">
      <img src="{% static 'subastas_app/images/prism.png'%}" alt="Unsplashed background img 1">
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Atractivos productos</h5>

            <p class="light center-align">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit tempora corporis, neque
              reiciendis
              voluptatem commodi, deserunt alias quis repellat quaerat eligendi ducimus illo facilis tenetur nam,
              rem
              debitis officia nesciunt.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Amplia comunidad</h5>

            <p class="light center-align">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit tempora corporis, neque
              reiciendis
              voluptatem commodi, deserunt alias quis repellat quaerat eligendi ducimus illo facilis tenetur nam,
              rem
              debitis officia nesciunt.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Plataforma robusta</h5>

            <p class="light center-align">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit tempora corporis, neque
              reiciendis
              voluptatem commodi, deserunt alias quis repellat quaerat eligendi ducimus illo facilis tenetur nam,
              rem
              debitis officia nesciunt.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="parallax"><img class="responsive-img" src="{% static  'subastas_app/images/dollars.jpg' %}"
        alt=" Unsplashed background img 2">
    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Vive la experiencia</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque
            id
            nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut
            ultricies
            eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et
            pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus
            sed.
            Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat.
            Nullam
            eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et
            ultrices
            posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="parallax">
      <img class="responsive-img" src="{% static 'subastas_app/images/tarjeta-candado.jpg'%}"
        alt="Unsplashed background img 3">
    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Proteccion de datos e identidad</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque
            id
            nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut
            ultricies
            eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et
            pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus
            sed.
            Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat.
            Nullam
            eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et
            ultrices
            posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>

  <!-- Fin de bloque de contenido -->
  {% endblock %}

  <!-- Inicio de bloque del Footer -->
  {% block footer %}
  <footer class="page-footer grey darken-4" id="footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui,
            repudiandae.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Legales</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Plataformas</h5>
          <ul>
            <li>
              <a class="material-icons white-text" href="">android</a>
              <a class="material-icons white-text" href="">laptop_mac</a>
              <a class="material-icons white-text" href="">phone_iphone</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="brown-text text-lighten-3" href="http://nestorjuarezr.github.io" target="blank">Néstor
          Juárez</a>
      </div>
    </div>
  </footer>
  <!-- Fin del bloque de Footer -->
  {% endblock %}

  <!-- Inicio delo bloque de script -->
  {% block java %}
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src=" {% static 'subastas_app/js/materialize.js' %} "></script>
  <script src="{% static 'subastas_app/js/init.js' %}"></script>

  <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> -->
  {% endblock %}
  <!-- Fin del bloque de Script -->
</body>

</html>